@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'FontAwesome', 'M PLUS Rounded 1c', 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN', 'Noto Serif JP', serif;
  color: #707070 !important;
  scroll-behavior: smooth;
}

/* 一般 */
h3 {
  padding-top: 30px;
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

h6 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: .75rem;
}

p {
  padding-bottom: 20px;
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

.yellow-line {
  background: linear-gradient(transparent 30%, rgba(255, 255, 0, 1));
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.orange {
  color: rgb(247, 190, 0);
}

.lg {
  font-size: 2rem;
  font-weight: bolder;
}

.md {
  font-size: 1.5rem;
  font-weight: bolder;
}

.md-l {
  font-size: 1.5rem;
  font-weight: 400;
}

.smd {
  font-size: 1.25rem;
  font-weight: bolder;
}

.sm {
  font-size: .75rem !important;
}

.top-container {
  margin-top: 86px;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .1rem;
    background: rgba(255, 255, 255, 1)!important;
    filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.6));
    position: fixed !important;
    width: 100%;
    z-index: 999;
}

.dropdown-menu {
  border: none !important;
}

.header {
  background-image: url(../img/header-top-2.jpg);
  width: 100%;
  height: 736px;
  background-size: cover;
  background-position: center center;
  margin-top: 86px;
  padding-top: 10px;
  position: relative;
  text-align: center;
}

.header-caption-main {
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 18px;
  max-width: 450px;
}

.header-caption-main h5 {
  text-align: center;
  font-size: 1rem;
  line-height: 2.3rem;
  font-weight: 300;
}

.dead-line-img {
  text-align: center;
  margin-top: 1rem;

}

.dead-line-img img{
  height: auto;
  width: 242px;
  margin-bottom: 0.5rem;
}

.header-caption-sub {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.header-caption-sub h3 {
  color: red;
  filter: drop-shadow(0px 0px 2px rgba(255,255,255,0.6));
  /* -webkit-text-stroke: 0.5px #FFF; */
  text-shadow:
    0.5px 0.5px 0 #FFF,
    -0.5px 0.5px 0 #FFF,
    0.5px -0.5px 0 #FFF,
    -0.5px -0.5px 0 #FFF;
  font-weight: 400;
  font-size: 1.83rem;
}

.containers {
  text-align: center;
  padding: 30px 0 0 0;
}

.btn-to-form, .btn-to-site {
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.65);
}

.btn-danger {
  background-color: #DB0054;
  border-color: #DB0054;
}

.row {
  margin: 0;
}

#message, #campaign, #gift, #hall, #kanazawa, #osaka, #kyoto, #detail, #q-a, #form {
  margin-top: -56px;
  padding-top: 86px;
}

/* メッセージ */
.message, .q-a {
  position: relative;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto 30px;
  border: 3px solid #707070;
  border-radius: 10px;
  max-width: 450px;
}

.message h3 {
  padding-top: 21.5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* キャンペーン詳細 */
.campaign {
  background-image: url(../img/flowers.jpg);
  background-size: cover;
  background-position: center center;
  padding: 0 30px;
  width: 100%;
}

.campaign-detail {
  margin: 30px 0 0 0;
}

.campaign-img {
  height: 120px;
  width: 120px;
  text-align: center;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.campaign-content p {
  margin-top: 10px;
  padding: 0;
  margin-bottom: 30px;
}

.wedding-ceremony, .bouquet, .tuxedo, .wedding-dress, .groom, .bride, .attendant, .flower-shower, .drink {
  background-size: cover;
  background-position: center center;
}

.wedding-ceremony {
  background-image: url(../img/wedding-ceremony.jpg);
}

.bouquet {
  background-image: url(../img/bouquet.jpg);
}

.tuxedo {
  background-image: url(../img/tuxedo.jpg);
}

.wedding-dress {
  background-image: url(../img/wedding-dress.jpg);
}

.groom {
  background-image: url(../img/groom.jpg);
}

.bride {
  background-image: url(../img/bride.jpg);
}

.attendant {
  background-image: url(../img/attendant.jpg);
}

.flower-shower {
  background-image: url(../img/flower-shower.jpg);
}

.drink {
  background-image: url(../img/drink.jpg);
}

/* 限定特典 */
.gift {
  background-image: url(../img/gift-wrap.jpg);
  background-size: cover;
  background-position: center center;
  padding: 0 30px;
  width: 100%;
  color: white;
}

/* 式場紹介 */
.hall {
  width: 100%;
  text-align: center;
}

.hall-content {
  padding: 0 30px;
  border-bottom: 4px dotted;
}

.hall-content p {
  margin-top: 20px;
}

/* アルカンシエル 金沢 */
.kanazawa {
  background-image: url(../img/kanazawa.jpg);
  background-position: center left;
  width: 100%;
  height: auto;
  background-size: cover;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); */
  margin-bottom: 30px;
}

.kanazawa-detail {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 0;
}

/* ル・センティフォーリア大阪 */
.osaka {
  background-image: url(../img/osaka.jpg);
  background-position: center left;
  width: 100%;
  height: auto;
  background-size: cover;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); */
  margin-bottom: 30px;
}

.osaka-detail {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 0;
}

.osaka-sm {
  display: none;
}

/* アイネス ヴィラノッツェ宝ヶ池 */
.kyoto {
  background-image: url(../img/kyoto.jpg);
  background-position: center left;
  width: 100%;
  height: auto;
  background-size: cover;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); */
  margin-bottom: 30px;
}

.kyoto-detail {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 0;
}

.hall-footer {
  background-color: rgb(34, 34, 34);
  padding: 10px;
  margin: 30px 0;
}

.hall-footer-inbox {
  padding: 40px 0;
  color: white;
  border: 2px solid white;
}

.hall-footer-inbox p {
  padding: 0;
}

/* 応募概要 */
.detail {
  background-image: url(../img/detail-bgi.jpg);
  background-position: center center;
  width: 100%;
  height: auto;
  background-size: cover;
  padding: 10px;
}

.detail-content, .form-content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 30px 20px 10px;
  margin: auto;
  max-width: 450px
}

.detail-content p, .form-content p {
  font-size: 1rem;
}

.detail-content h3, .form-content h3 {
  padding: 0;
}

.detail-list-items {
  border-top: 1px dashed #707070;
  padding: 1.25rem 0;
}

.detail-list-items p {
  line-height: 24px;
  padding: 0;
}

.detail-list-title, .detail-list-contents {
  padding: 0;
  text-align: left;
}

.detail-list-contents ol  {
  margin: 0;
  padding: 0
}

.detail-list-contents ol li  {
  list-style: none;
  padding-left: 1.3em;
  text-indent: -1.3em;
  font-weight: 300;
}

/* Q&A */
.q-a-title {
  border-bottom: 1px solid #707070;
}

.cp_qa dl {
  margin: 20px 0 0;
  font-size: 0.75rem;
}

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.cp_qa dt,.cp_qa dd {
	position: relative;
	padding: 0.5em;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	border-radius: 0.3em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.cp_qa dt {
	margin: 0 3em 1em 3em;
	background: #DB0054;
  color: white;
  font-weight: 400;
}

.cp_qa dd {
	margin: 0 3em 30px 3em;
	background: #EBEBEB;
  color: #707070;
  font-weight: 300;
}

    /* 吹き出し▶︎ */
.cp_qa dt::before,.cp_qa dd::before{
	position: absolute;
	z-index: 99;
	top: 0.5em;
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	border-style: solid;
}

    /* 質問吹き出し▶︎ */
.cp_qa dt::before {
	left: -0.5em;
	border-width: 5px 8.7px 5px 0;
	border-color: transparent #DB0054 transparent transparent;
}

    /* 答え吹き出し▶︎ */
.cp_qa dd::before {
	right: -0.5em;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent #EBEBEB;
}

    /* ?!アイコン */
.cp_qa dt::after,.cp_qa dd::after {
	font-size: 1.2em;
	position: absolute;
	top: 0;
	border-radius: 50%;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.2em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

    /* ?アイコン */
.cp_qa dt::after {
	left: -2.5em;
	margin: 0 0.5em 0 0;
	padding: 0.2em 0.4em;
	content: '\f128';
	background: #DB0054;
  color: #fff;
}

    /* !アイコン */
.cp_qa dd::after {
	right: -2.5em;
	margin: 0 0 0 0.5em;
	padding: 0.2em 0.55em;
	content: '\f12a';
	background: #EBEBEB;
  color: #707070;
}

/* 問合せ・応募フォーム */
.form {
  background-image: url(../img/form-bgi.jpg);
  background-position: center center;
  width: 100%;
  height: auto;
  background-size: cover;
  padding: 10px;
}

.form-content h6 {
  padding-bottom: 10px;
  border-bottom: 1px solid #707070;
}

.form-content p {
  text-align: left;
  font-size: 0.875rem;
}

.form-inner {
  padding-top: 10px;
}

.form-required::after {
  content: "";
  width: 30px;
  height: 15px;
  background: url(../img/ico_required.png) no-repeat left top;
  background-size: 30px 15px;
  display: inline-block;
  margin-left: 1em;
  vertical-align: middle;
  /* margin-top: -2px; */
}

.selecter {
  height: 28px;
}

.label-inner input {
  vertical-align: middle;
}

.textarea {
  width: 100%;
}

.submit {
  padding: 20px 0;
}

/* 式場アクセス */
.access {
  border-bottom: 4px dotted;
  text-align: center;
  margin-bottom: 30px;
}

.map iframe {
  height: 300px;
  width: 90%;
  margin: 20px auto;
}

.access-title {
  margin-bottom: 20px;
}

.access h5{
  width: 200px;
  font-size: 0.875rem;
  padding: 5px 0px;
  /* text-align: center; */
  font-weight: 400;
  color: #A18100;
  border: 1px solid #E5E0CD;
  vertical-align: middle;
  margin: auto;
}

.access span {
  font-size: 0.75rem;
  font-weight: 300;
  margin-top: 10px;
}

/* プライバシーポリシー */
.privacy-container {
  padding: 0 30px 30px;
}

.privacy {
  background-color: #EAEAEA;
  border: 1px solid #707070;
  text-align: center;
}

.privacy-list-wrap {
  padding: 0 20px 0 30px;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.privacy-list-item {
  margin-bottom: 15px;
}

/* 主催企業情報 */
.info {
  background-color: #FAFAFA;
  padding: 20px 10px;
  text-align: center;
}

.info-logo {
  padding-bottom: 10px;
}

.info img {
  height: auto;
  width: 300px;
}

.info-item h5 {
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #707070;
  font-size: 0.875rem;
}

.info-item p {
  padding: 0;
  font-size: 0.75rem;
  font-weight: 300;
}

/* コピーライト */
.copyright {
  background-color: #404040;
  text-align: center;
  height: 30px;
  padding: auto;
}

.copyright p {
  color: white;
  font-size: 0.625rem;
  padding: 0;
  line-height: 30px;
  font-weight: 100;
}

  /* smaller than 480px */
@media screen and (max-width:480px){
  .header-caption-main {
    margin: 0 15px;
  }

  .message, .q-a {
    margin: 0 30px 30px 30px;
  }

  .kanazawa, .osaka, .kyoto {
    background-image: none;
    background-position: none;
    background-size: none;
    box-shadow: none;
    margin-bottom: 0;
  }

  .kanazawa-top, .osaka-top, .kyoto-top {
    height: 300px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
  }

  .kanazawa-top {
    background-image: url(../img/kanazawa.jpg);
    background-size: cover;
  }

  .osaka-top {
    background-image: url(../img/osaka.jpg);
    background-size: cover;
  }

  .kyoto-top {
    background-image: url(../img/kyoto.jpg);
    background-size: cover;
  }

  .kanazawa-detail, .osaka-detail, .kyoto-detail {
    background-color: none;
    padding: 0 0 30px 0;
  }

  .osaka-lg {
    display: none;
  }

  .osaka-sm {
    display: block;
  }
}

@media (max-width: 991px){
  .display-lg-none {
      display: none;
    }
}
