{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://kit.fontawesome.com/cd7d9bc5fa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'marry_app/css/style.css' %}">
    <title>ドリーム花嫁結婚式無料キャンペーン</title>
  </head>

  <body>
      {% block content %}
      {{ content }}
      {% endblock %}
      {% block extra_js %}
      {% endblock %}
    <footer>
      <!-- 主催企業情報 -->
      <div class="info">
        <div class="info-logo">
          <a href="https://www.couture-naoco.com/"><img src="{% static 'marry_app/img/COUTURE_NAOCO_logo.png' %}" alt="COUTURE NAOCO"></a>
        </div>
        <div class="info-inner">
          <div class="row">
            <div class="col-md-4 text-center info-item">
              <h5>企業名</h5>
              <p>銀座クチュールナオコ</p>
            </div>
            <div class="col-md-4 text-center info-item">
              <h5>キャンペーン特設TEL</h5>
              <p>076-255-1356</p>
            </div>
            <div class="col-md-4 text-center info-item">
              <h5>住所</h5>
              <p>東京都中央区銀座1-8-20</p>
            </div>
          </div>
        </div>
      </div>

      <!-- コピーライト -->
      <div class="copyright">
        <p>Copyright © https://dream-wedding-cp.com</p>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'marry_app/js/main.js' %}"></script>
  </body>
</html>
