{% extends "base.html" %}
{% block content %}
<header>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ドリーム花嫁結婚式<br>無料キャンペーン</a>
    </div>
  </nav>
</header>
<main>
  <div class="form-container top-container" id="form">
    <div class="form">
      <div class="form-content">
        <div class="form-message text-center">
          <h3>FORM</h3>
          <h6>送信結果</h6>
          <p>ご応募誠にありがとうございます。<br>
            ご入力内容は、<br>
            ご登録いただいたメールアドレスに送付させていただいております。<br>
            ご確認の上、訂正・ご質問がございましたら<br>
            ドリーム花嫁結婚式無料キャンペーン事務局(TEL: 076-255-1356)<br>
            までご連絡ください。
          </p>
        </div>
      </div>
    </div>
  </div>
</main>


{% endblock content %}
