
{% extends "base.html" %}
{% load static %}
{% block title %}ドリーム花嫁婚結婚式無料キャンペーン{% endblock title %}
{% block content %}

  <script>
  // var isSubmit = false;
  function checkDoubleSubmit(){
    var obj = document.getElementById("btnSubmit");
    if(obj.disabled){
      return false;
    }else{
      obj.disabled = true;
      return true;
    }
  }
  </script>

  <header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ドリーム花嫁婚結婚式<br>無料キャンペーン</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <div class="dropdown-divider"></div>
            <li class="nav-item active"><a href="#home" class="nav-link">ＨＯＭＥ</a></li>
            <div class="dropdown-divider"></div>
            <li class="nav-item"><a href="#campaign" class="nav-link">詳細</a></li>
            <div class="dropdown-divider"></div>
            <li class="nav-item"><a href="#gift" class="nav-link">限定特典</a></li>
            <div class="dropdown-divider"></div>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">式場紹介</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#hall">式場紹介TOP</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#kanazawa">アルカンシエル金沢</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#osaka">ル・センティフォーリア大阪</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#kyoto">アイネスヴィラノッツェ宝ヶ池‎</a>
              </div>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a href="#detail" class="nav-link">応募概要</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a href="#q-a" class="nav-link">Q & A</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a href="#form" class="nav-link">お問い合わせ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <!-- top -->
    <div class="header" id="home">
      <div class="header-caption-main">
        <h5>石川県・大阪府・京都府<br>3都市の式場で理想の結婚式を
          <br><span class="yellow-line">抽選で<span class="red lg">15名様</span>にプレゼント</span>
        </h5>
        <div class="dead-line-img">
          <img src="{% static 'marry_app/img/deadline.png' %}">
        </div>
      </div>
      <div class="header-caption-sub">
        <h3>お客様感謝キャンペーン</h3>
      </div>
    </div>

    <!-- メッセージ -->
    <div class="containers" id="message">
      <div class="message">
        <h3>MASSAGE</h3>
        <p>石川県金沢市<br>アルカンシエル金沢</p>
        <p>大阪府大阪市<br>ル・センティフォーリア大阪</p>
        <p>京都府京都市<br>アイネスヴィラノッツェ宝ヶ池‎</p>
        <p>1組でも多くのお客様に<br>結婚式の素晴らしさをお届けしたい</p>
        <p>あきらめていた結婚式を挙げるという夢を叶えてほしい</p>
        <p>その思いを胸に<br>経験豊富な各会場の専属プランナーが<br>お二人のお話を伺いします‎</p>
        <p>私たちと一緒に<br>素晴らしい一日を作り上げませんか？</p>
      </div>
      <a href="#form">
        <button type="button" class="btn btn-danger btn-to-form">応募フォームへ</button>
      </a>
    </div>

    <!-- キャンペーン詳細 -->
    <div class="containers" id="campaign">
      <div class="campaign">
        <h3>PRESENT</h3>
        <h6>－キャンペーン詳細－</h6>
        <p>
          結婚式無料キャンペーンとして<br>
          <br>挙式料・ブーケ・タキシード・ウエディングドレス・新郎様美容着付け・新婦様美容着付け・アテンダー・フラワーシャワー・待合スペースドリンク<br>
          <br>「9つ」のプレゼントを用意いたしました<br>結婚式にかかる料金が無料になります<br><br>各会場のプランナーが<br>お二人に合わせた結婚式をお贈りします
        </p>
      </div>
      <div class="campaign-detail">
        <div class="row">
          <div class="col-lg-1 display-lg-none">
          </div>
          <div class="col-6 col-md-4 col-lg-2 campaign-content">
            <div class="campaign-img wedding-ceremony"></div>
            <p>挙式料</p>
          </div>
          <div class="col-6 col-md-4 col-lg-2 campaign-content">
            <div class="campaign-img bouquet"></div>
            <p>ブーケ</p>
          </div>
          <div class="col-6 col-md-4 col-lg-2 campaign-content">
            <div class="campaign-img tuxedo"></div>
            <p>タキシード</p>
          </div>
          <div class="col-6 col-md-4 col-lg-2 campaign-content">
            <div class="campaign-img wedding-dress"></div>
            <p>ドレス</p>
          </div>
          <div class="col-6 col-md-4 col-lg-2 campaign-content">
            <div class="campaign-img groom"></div>
            <p>新郎様美容着付</p>
          </div>
          <div class="col-lg-1 display-lg-none">
          </div>
          <div class="col-lg-2 display-lg-none">
          </div>
          <div class="col-6 col-md-4 col-lg-2 campaign-content">
            <div class="campaign-img bride"></div>
            <p>新婦様美容着付</p>
          </div>
          <div class="col-6 col-md-4 col-lg-2 campaign-content">
            <div class="campaign-img attendant"></div>
            <p>アテンダー</p>
          </div>
          <div class="col-6 col-md-4 col-lg-2 campaign-content">
            <div class="campaign-img flower-shower"></div>
            <p>フラワーシャワー</p>
          </div>
          <div class="col-12 col-md-4 col-lg-2 campaign-content">
            <div class="campaign-img drink"></div>
            <p>待合スペースドリンク</p>
          </div>
          <div class="col-lg-2 display-lg-none">
          </div>
        </div>
        <a href="#form">
          <button type="button" class="btn btn-danger btn-to-form">応募フォームへ</button>
        </a>
      </div>
    </div>

    <!-- 限定特典 -->
    <div class="containers" id="gift">
      <div class="gift">
        <h3>SPECIAL GIFT</h3>
        <h6>－期間限定特典－</h6>
        <p>
          さらに、ご会食や披露宴を<br>希望される方には<br>自己負担0円のご祝儀内で叶う<br>
          <span class="md">「<span class="yellow">結婚披露宴</span>」</span><br>を無料でプランニングいたします！<br>
          <br>応募締め切りは<span class="red smd"> 2/15 </span>まで<br>お早めのご応募をお待ちしております
        </p>
      </div>
    </div>

    <!-- 式場紹介 -->
    <div class="hall" id="hall">
      <div class="hall-content" id="hall-header">
        <h3>HALL</h3>
        <h6>－式場紹介－</h6>
        <p>
          お客様の居住地に合わせて<br>3つの会場をご用意しました<br><br>石川県金沢市<br>アルカンシエル金沢<br>
          <br>大阪府大阪市<br>ル・センティフォーリア大阪<br><br>京都府京都市<br>アイネスヴィラノッツェ宝ヶ池‎<br>
          <br>当店が自信を持ってお勧めする<br>３つの式場をご紹介いたします
        </p>
      </div>
      <div class="hall-content px-0" id="kanazawa">
        <h3>Ishikawa</h3>
        <h6>－石川県－</h6>
        <div class="row kanazawa">
          <div class="col-sm-8 kanazawa-top">
          </div>
          <div class="col-sm-4 kanazawa-detail">
            <h4>Arc-en-Ciel 金沢</h4>
            <p>
              これからの未来にも<br>ずっと心にあり続ける<br>かけがえのない出来事<br><br>『結婚式』<br>
              <br>お二人からしか生まれない<br>そんなウエディングを<br>私たちはひとつひとつ<br>丁寧につくりたい<br>
              <br>ロケーション<br>自然光に包まれるチャペル<br>自由に使える貸切空間<br>雨でも安心の全天候型<br>STORYのあるお料理<br>結婚式を創り上げるものすべてに<br>こだわりを持って<br>
              <br>お二人の気持ちに<br>しっかり寄り添いながら<br>ここでしか叶わない<br>素敵な1日をお届けいたします
            </p>
            <a href="https://www.arcenciel-g.jp/kanazawa/">
              <button href="#" type="button" class="btn btn-secondary btn-to-site">詳細はこちら</button>
            </a>
          </div>
        </div>
      </div>
      <div class="hall-content px-0" id="osaka">
        <h3>Osaka</h3>
        <h6>－大阪府－</h6>
        <div class="row osaka">
          <div class="col-sm-8 osaka-top osaka-sm">
          </div>
          <div class="col-sm-4 osaka-detail">
            <h4>LE CENTIFOLIA 大阪</h4>
            <p>
              大阪・梅田の結婚式なら<br>ル・センティフォーリア大阪で<br>
              <br>家族だけ・少人数の結婚式から<br>披露宴・パーティまでをプロデュース<br>
              <br>ゲストハウスを貸切で<br>自由なウェディングを叶えられます<br>
              <br>清らかな水の上に浮かぶ<br>楽園のチャペル<br>ここからお二人の<br>永遠がはじまります<br>
              <br>テーマの違う<br>３つのリゾートスタイル<br>
              <br>周囲を囲む豊かな光と水と緑<br>自然と調和した開放的な設計<br>ゲストの期待感を誘う重厚感<br>気品と洗練を重視したインテリア<br>
              <br>お二人らしい時間をお過ごし下さい
            </p>
            <a href="https://www.centifolia.jp/osaka/">
              <button href="#" type="button" class="btn btn-secondary btn-to-site">詳細はこちら</button>
            </a>
          </div>
          <div class="col-sm-8 osaka-top osaka-lg">
          </div>
        </div>
      </div>
      <div class="hall-content px-0" id="kyoto">
        <h3>Kyoto</h3>
        <h6>－京都府－</h6>
        <div class="row kyoto">
          <div class="col-sm-8 kyoto-top">
          </div>
          <div class="col-sm-4 kyoto-detail">
            <h4>Eines Villa di Nozze 宝ヶ池</h4>
            <p>
              京都・宝ヶ池の結婚式なら<br>アイネス ヴィラノッツェ宝ヶ池で<br>
              <br>お二人の愛を未来へつなぐ<br>開放感に満ちた"森の中のチャペル"<br>
              <br>降り注ぐ澄んだ光と<br>美しい緑に祝福されて<br>いつまでも変わることのない<br>愛を誓う<br>
              <br>聖なる空間でお二人の愛が<br>永遠のものになる<br>
              <br>花と緑に彩られた<br>お二人のためだけの<br>マイホームウェディング<br>
              <br>誰の目も気にせず<br>思いのままに過ごせる<br>完全プライベート空間<br>
              <br>お二人だけの空間で楽しんで
            </p>
            <a href="https://www.eines.jp/kyoto/">
              <button href="#" type="button" class="btn btn-secondary btn-to-site">詳細はこちら</button>
            </a>
          </div>
        </div>
      </div>
      <div class="hall-footer" id="hall-footer">
        <div class="hall-footer-inbox">
          <p>3つの都市から<br><span class="orange md-l">お住まいに合わせた会場を<br>お選び頂けます</span></p>
        </div>
      </div>
      <a href="#form">
        <button type="button" class="btn btn-danger btn-to-form">応募フォームへ</button>
      </a>
    </div>

    <!-- 応募概要 -->
    <div class="containers" id="detail">
      <div class="detail">
        <div class="detail-content">
          <h3>DETAILS</h3>
          <h6>－応募概要－</h6>
          <div class="row detail-list-items">
            <div class="col-4 detail-list-title">
              <p class="sm">■ 応募期間</p>
            </div>
            <div class="col-8 detail-list-contents">
              <p><span class="yellow-line smd">2019年2月15日(土) <br> 23:59まで </span></p>
            </div>
          </div>
          <div class="row detail-list-items">
            <div class="col-4 detail-list-title">
              <p class="sm">■ 当選人数</p>
            </div>
            <div class="col-8 detail-list-contents">
              <p>合計15名様</p>
            </div>
          </div>
          <div class="row detail-list-items">
            <div class="col-4 detail-list-title">
              <p class="sm">■ 応募資格</p>
            </div>
            <div class="col-8 detail-list-contents">
              <ol>
                <li>&#9312; <span class="red">3/15(日)</span>までに会場確認にお越しいただける方</li>
                <li>&#9313; <span class="red">2020年5月末</span>までに結婚式の実施が可能な方</li>
              </ol>
            </div>
          </div>
          <div class="row detail-list-items">
            <div class="col-4 detail-list-title">
              <p class="sm">■ 応募の流れ</p>
            </div>
            <div class="col-8 detail-list-contents">
              <ol>
                <li>&#9312; 下記「応募フォーム」よりご応募いただきます</li>
                <li>　</li>
                <li>&#9313; スタッフからのお電話にて会場見学日時をご相談いたします</li>
                <li>　</li>
                <li>&#9314; 会場見学後、正式にご応募されるかどうかを決めていただきます</li>
                <li>　</li>
                <li>&#9315; ご応募いただいた場合後日当落発表のご連絡を差し上げます</li>
              </ol>
            </div>
          </div>
          <div class="detail-list-items">
            <a href="#form">
              <button type="button" class="btn btn-danger btn-to-form">応募フォームへ</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Q&A -->
    <div class="containers" id="q-a">
      <div class="q-a">
        <div class="q-a-title">
          <h3>Q & A</h3>
          <h6>－キャンペーン詳細－</h6>
        </div>
        <div class="cp_qa">
          <dl>
            <dt>
              妊娠中でも結婚式を挙げることはできますか？
            </dt>
            <dd>
              はい、可能です。<br><br>
              マタニティ専任スタッフが、ご新婦様の体調を考慮し、
              責任をもって挙式当日まで担当させていただき、妊婦様に合わせたご提案をいたします。
            </dd>
            <dt>
              会場見学後に当選の権利を辞退することは可能ですか？
            </dt>
            <dd>
              辞退することは可能です。<br><br>
              会場見学をしていただき、ご応募するかご検討いただいてからご応募いただきます。
              また、ご当選された場合も、再度ご来館いただき、お見積りや日程を提示しますので、
              ご検討いただいてからのご返答で大丈夫です。まずはお気軽にご来館ください。
            </dd>
            <dt>
              結婚式までに何回くらい打ち合わせが必要ですか？
            </dt>
            <dd>
              2～5回程度となります。<br><br>
              お客様のご事情に応じて、お打ち合わせ回数をご提案いたします。
              小さいお子様がいらっしゃる方や、仕事でお忙しい方は、お気軽にご相談ください。
            </dd>
          </dl>
        </div>
      </div>
    </div>

    <!-- 問合せ・応募フォーム -->
    <div class="form-container" id="form">
      <div class="form">
        <div class="form-content">
          <div class="form-message text-center">
            <h3>FORM</h3>
            <h6>ご予約・お問い合わせ</h6>
            <p>御手数ですが、下記項目に必要事項を御入力ください。<br>
              送信頂く前に入力内容に誤りが無いかを御確認ください。<br>
              御間違いが無ければ送信ボタンをクリックしてください。</p>
          </div>

          {% if messages %}
          <ul class="message">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}"{% endif %} >{{ message }}</li>
              {%  endfor %}
          </ul>
          {% endif %}

          <form method="post" action="{% url 'apply_form' %}" onsubmit="return checkDoubleSubmit();">
            {% csrf_token %}
            <div class="form-item form-hall">
              <div class="label-title text-left">
                <label class="form-label form-required m-1">ご希望会場</label>
              </div>
              <!-- <div class="label-inner">
                {{ form.place }}
              </div> -->
              <div class="label-inner">
                <select class="border selecter" name="place" required id="id_place">
                  <option value="" selected>---------</option>
                  <option value="0">アルカンシエル金沢</option>
                  <option value="1">ル・センティフォーリア大阪</option>
                  <option value="2">アイネスヴィラノッツェ宝ヶ池</option>
                </select>
              </div>
            </div>
            <div class="form-item form-groom">
              <div class="label-title text-left">
                <label class="form-label form-required m-1">新郎様お名前</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.husband_name }}
                </label> -->
                <label>
                  <input class="border" type="text" name="husband_name" maxlength="30" required id="id_husband_name">
                </label>
              </div>
            </div>
            <div class="form-item form-bride">
              <div class="label-title text-left">
                <label class="form-label form-required m-1">新婦様お名前</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.wife_name }}
                </label> -->
                <label>
                  <input class="border" type="text" name="wife_name" maxlength="30" required id="id_wife_name">
                </label>
              </div>
            </div>
            <div class="form-item form-applicant">
              <div class="label-title text-left">
                <label class="form-label form-required m-1">申込者お名前</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.applyer_name}}
                </label> -->
                <label>
                  <input class="border" type="text" name="applyer_name" maxlength="30" required id="id_applyer_name">
                </label>
              </div>
            </div>
            <div class="form-item form-enrollment">
              <div class="label-title text-left">
              <label class="form-label m-1">ご入籍状況</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.is_married}}
                </label> -->
                <label>
                  <select class="border selecter" name="is_married" id="id_is_married">
                    <option value="unknown" selected>不明</option>
                    <option value="true">はい</option>
                    <option value="false">いいえ</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="form-item form-reception">
              <div class="label-title text-left">
                <label class="form-label m-1">披露宴(お食事)実施予定</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.is_party }}
                </label> -->
                <label>
                  <select class="border selecter" name="is_party" id="id_is_party">
                    <option value="unknown" selected>不明</option>
                    <option value="true">はい</option>
                    <option value="false">いいえ</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="form-item mail-address">
              <div class="label-title text-left">
                <label class="form-label form-required m-1">メールアドレス</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.email_address }}
                </label> -->
                <label>
                  <input class="border" placeholder="example@sample.jp" type="email" name="email_address" maxlength="254" required id="id_email_address">
                </label>
              </div>
            </div>
            <div class="form-item form-tel">
              <div class="label-title text-left">
                <label class="form-label form-required form-required m-1">申込者様電話番号</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.tel_num }}
                </label> -->
                <label>
                  <input class="border" placeholder="080-1234-5678" type="text" name="tel_num" maxlength="13" required id="id_tel_num">
                </label>
              </div>
            </div>
            <div class="form-item wedding-month">
              <div class="label-title text-left">
                <label class="form-label m-1">来館希望日</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.prefered_date }}
                </label> -->
                <label>
                  <input class="border" type="date" name="prefered_date" required id="id_prefered_date">
                </label>
              </div>
            </div>
            <div class="form-item form-time">
              <div class="label-title text-left">
                <label class="form-label m-1">来館希望時間(10:00~18:00)</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.prefered_time }}
                </label> -->
                <label>
                  <input class="border" type="time" name="prefered_time" min="10:00" max="18:00" required id="id_prefered_time">
                </label>
              </div>
            </div>
            <div class="form-item form-contact">
              <div class="label-title text-left">
                <label class="form-label form-required m-1">連絡の取りやすい時間帯</label>
              </div>
              <div class="label-inner">
                <!-- <label>
                  {{ form.better_hours }}
                </label> -->
                <label>
                  <select class="border selecter" name="better_hours" required id="id_better_hours">
                    <option value="" selected>---------</option>
                    <option value="0">~12:00</option>
                    <option value="1">~17:00</option>
                    <option value="2">17:00~</option>
                    <option value="3">何時でも構わない</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="form-item form-motivation">
              <div class="label-title text-left">
                <label class="form-label m-1">応募動機</label>
              </div>
              <div class="label-inner textarea">
                <!-- <label class="textarea">
                  {{ form.apply_reason }}
                </label> -->
                <label class="textarea">
                  <textarea class="border textarea" type="text" name="apply_reason" rows="8" maxlength="300" required id="id_apply_reason"></textarea>
                </label>
              </div>
            </div>
            <input type="hidden" name="submit_token" value="{{ submit_token }}" />
            <div class="text-center submit">
              <input id="btnSubmit" type="submit" value="送信">
            </div>
          </form>
          <!-- <a href="#"><button type="button" class="btn btn-danger btn-to-form">送信</button></a> -->
          <!-- <a href="#"><button type="button" class="btn btn-danger btn-to-form">送信</button></a> -->

        {% if form.non_field_errors %}
          <div class="ui red message">
            <ul class="list">
              {% for non_field_error in form.non_field_errors %}
                <li>{{ non_field_error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <!-- 式場アクセス -->
    <div class="access-container containers" id="access">
      <div class="access to-kanazawa">
        <div class="access-title">
          <h4 class="m-0">アルカンシエル 金沢</h4>
        </div>
        <div class="access-inner">
          <div class="row">
            <div class="col-md-4">
              <h5>所在地</h5>
              <p>
                石川県金沢市片町2-2-3 片町きらら最上階<br>
                <span>片町きららの外部から専用エレベーターで直接、<br>エントランスにお越しいただけます</span>
              </p>
            </div>
            <div class="col-md-4">
              <h5>営業時間</h5>
              <p>
                土日祝9:00～20:00<br>
                平日11:00～20:00<br>
                <span>（祝休日除く火曜定休※水曜は11:00～18:00）</span><br>
                <span>※電話受付は全日19：00まで</span>
              </p>
            </div>
            <div class="col-md-4">
              <h5>TEL</h5>
              <p>076-210-7227</p>
            </div>
            <div class="col-md-6">
              <h5>お車・タクシーでお越しの場合</h5>
              <p>[お車にて]<br>金沢西I.Cより約15分<br>金沢東I.Cより約20分<br>小松空港より約60分<br>
                <br>[タクシーにて]<br>JR金沢駅東口タクシー乗場から約10分</p>
            </div>
            <div class="col-md-6">
              <h5>公共交通機関でお越しの場合</h5>
              <p>JR金沢駅東口バスターミナルより<br>路線バス「片町」にて下車　徒歩約2分<br>路線バス「香林坊」にて下車　徒歩約3分</p>
            </div>
          </div>
          <a href="https://www.arcenciel-g.jp/kanazawa/">
            <button href="#" type="button" class="btn btn-secondary btn-to-site">詳細はこちら</button>
          </a>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3204.7322162062396!2d136.65059151519685!3d36.56056917999863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8347fbc304173%3A0x83450924003b72ac!2z44Ki44Or44Kr44Oz44K344Ko44Or6YeR5rKi!5e0!3m2!1sja!2sjp!4v1578554982406!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
      <div class="access to-osaka">
        <div class="access-title">
          <h4 class="m-0">ル・センティフォーリア大阪</h4>
        </div>
        <div class="access-inner">
          <div class="row">
            <div class="col-md-4">
              <h5>所在地</h5>
              <p>
                大阪市北区南扇町6-19
              </p>
            </div>
            <div class="col-md-4">
              <h5>営業時間</h5>
              <p>
                土日祝10:00-20:00<br>
                平日11:00-20:00<br>
                <span>火曜日・水曜日休館（祝日は営業）</span>
              </p>
            </div>
            <div class="col-md-4">
              <h5>TEL</h5>
              <p>06-6366-8080</p>
            </div>
            <div class="col-md-6">
              <h5>お車・タクシーでお越しの場合</h5>
              <p>
                関西空港より約60分<br>伊丹空港より約30分<br>JR「新大阪」駅より約10分<br>
                阪神高速守口線 扇町出口より約1分<br><span>※扇町公園駐車場にて駐車できます。(有料)<br>※南2番出口よりお越しください。</span>
              </p>
            </div>
            <div class="col-md-6">
              <h5>公共交通機関でお越しの場合</h5>
              <p>地下鉄堺筋線「扇町」駅（5番出口）より徒歩3分<br>JR環状線「天満」駅より徒歩5分<br>
                JR「大阪」駅より徒歩10分<br>阪急「梅田」駅より徒歩10分</p>
            </div>
          </div>
          <a href="https://www.centifolia.jp/osaka/">
            <button href="#" type="button" class="btn btn-secondary btn-to-site">詳細はこちら</button>
          </a>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.1241289932564!2d135.50569731514383!3d34.70204898043404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6c1b97403a1%3A0x1103de7911297da!2z44Or44O744K744Oz44OG44Kj44OV44Kp44O844Oq44Ki!5e0!3m2!1sja!2sjp!4v1578634507326!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
      <div class="access to-kyoto">
        <div class="access-title">
          <h4 class="m-0">アイネス ヴィラノッツェ宝ヶ池</h4>
        </div>
        <div class="access-inner">
          <div class="row">
            <div class="col-md-4">
              <h5>所在地</h5>
              <p>
                京都府京都市左京区岩倉西五田町38
              </p>
            </div>
            <div class="col-md-4">
              <h5>営業時間</h5>
              <p>
                土日祝10:00-20:00<br>
                平日11:00-20:00<br>
                <span>火曜日・水曜日休館（祝日は営業）</span>
              </p>
            </div>
            <div class="col-md-4">
              <h5>TEL</h5>
              <p>075-781-2241</p>
            </div>
            <div class="col-md-6">
              <h5>お車・タクシーでお越しの場合</h5>
              <p>伊丹空港より約70分<br>「京都」駅より約30分<br>名神高速道路 京都東ICより約30分</p>
            </div>
            <div class="col-md-6">
              <h5>公共交通機関でお越しの場合</h5>
              <p>「京都」駅より地下鉄烏丸線で20分<br>地下鉄烏丸線「国際会館」駅より約5分</p>
            </div>
          </div>
          <a href="https://www.centifolia.jp/osaka/">
            <button href="#" type="button" class="btn btn-secondary btn-to-site">詳細はこちら</button>
          </a>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2126.4485206273903!2d135.7782713012721!3d35.064290685138445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001a788b847a5c5%3A0x2484d8856cb17a22!2z44Ki44Kk44ON44K544O044Kj44Op44OO44OD44OE44Kn5a6d44O25rGg!5e0!3m2!1sja!2sjp!4v1578635811702!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- プライバシーポリシー -->
    <div class="privacy-container" id="privacy">
      <div class="privacy">
        <div class="privacy-title">
          <h3>個人情報保護方針</h3>
        </div>
        <div class="privacy-inner">
          <p>
            当社は個人情報の保護に関し、<br>以下の宣言をいたします。
          </p>
          <ol class="privacy-list-wrap">
            <li class="privacy-list-item">
              主たる業務とし当社が提供するサービスを安心してお客様にご利用いただけるよう、
              当社の業務における全ての個人情報をより厳正に取り扱うため、
              社員などが尊守すべき行動基準として個人情報保護方針を定め遵守の徹底を図ります。
            </li>
            <li class="privacy-list-item">
              当社は、全従業員がこの方針に従い、
              個人情報の適切な取り扱いと管理を行い改善を図ります。
            </li>
          </ol>
        </div>
      </div>
    </div>

  </main>
<!-- /.container -->

  {% endblock content %}
