{% extends "base.html" %}
{% block content %}
<header>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ドリーム花嫁結婚式<br>無料キャンペーン</a>
    </div>
  </nav>
</header>
<main>
  <div class="form-container" id="form">
    <div class="form">
      <div class="form-content top-container">
        <div class="form-message text-center">
          <h3>FORM</h3>
          <h6>送信エラー</h6>
          <p>入力いただいた内容に誤りがございます。<br>
            御手数ですが、トップページからフォーム内容を再入力ください。<br>
            何かご質問がございましたら<br>
            ドリーム花嫁結婚式無料キャンペーン事務局(TEL: 076-255-1356)<br>
            までご連絡ください。
          </p>
          <div class="text-center submit">
            <a href="{% url 'apply_form' %}">
              <button type="button" class="btn btn-secondary btn-to-site">トップページへ</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
